div {
    border: 1px solid black;
}

h2 {
    margin: 0 0 15px;
}

h6 {
    width: 100%;
    margin: 10px;
}

p {
    font-size: 0.75em;
    width: 80%;
    margin: 10px 0 5px;
    text-align: left;
}

#card {
    background-color: lightblue;
    width: 50%;
    margin: auto;
    padding: 50px 0;
}
  
#title {
    text-align: center;
}
  
#exercise {
    width: 60%;
    margin: auto;
}
  
#sets {
    display: flex;
}
  
.sets-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-info {
    width: 80%;
    margin: 0 0 10px;
}

#exercise {
    width: 90%;
    margin: auto;
}

#exercise-form {
    display: flex;
    flex-direction: column;
}
